<%= link_to 'Back', models_path, class: 'btn btn-light mb-3' %>
<div class="card" >
  <div class="card-body">
    <h2 class='card-title d-flex justify-content-between'>
      <span> <b> <%= @model.name %> </b> </span>  
      <div> 
        <%= link_to 'Edit', edit_model_path(@model), class: 'btn btn-light' %>
        <%= link_to 'Destroy', @model, method: :delete, class: 'btn btn-secondary text-light', data: { confirm: 'Are you sure?' } %>
      </div>
    </h2>
    <div class="mb-4">
      <div class='float'>
        <p>
          <strong>Name:</strong>
          <%= @model.name %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @model.description %>
        </p>

        <p>
          <strong>Montant:</strong>
          <%= @model.montant %>
        </p>

        <p>
          <strong>Category:</strong>
          <%= @model.category.name %>
        </p>
      </div>
      <p>
        
        <%= image_tag @model.image.url, class:'model_image' %>
      </p>

    </div>
  </div>
</div>
