<%= form_with(model: client, local: true) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
        <% client.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, placeholder:"Name" , class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, placeholder:"Email Address" , class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :telephone %>
    <%= form.text_field :telephone, placeholder:"Phone number" , class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :genre %>
    <%= form.select :genre, Client.genres.keys.to_a,  {}, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :dos %>
    <%= form.number_field :dos, placeholder:"Back" , class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :epaule %>
    <%= form.number_field :epaule, placeholder:"Shoulder" , class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :poitrine %>
    <%= form.number_field :poitrine, placeholder:"Chest" , class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :long_manche %>
    <%= form.number_field :long_manche, placeholder:"Sleeve length" , class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :tour_manche %>
    <%= form.number_field :tour_manche, placeholder:"Round of the sleeve" , class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :long_taille %>
    <%= form.number_field :long_taille, placeholder:"Waist length" , class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :tour_taille %>
    <%= form.number_field :tour_taille, placeholder:"Waist circumference" , class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :pinces %>
    <%= form.number_field :pinces, placeholder:"Pliers" , class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :long_camisole %>
    <%= form.number_field :long_camisole, placeholder:"Camisole length" , class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :long_chemise %>
    <%= form.number_field :long_chemise, placeholder:"Shirt length" , class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :poignet %>
    <%= form.number_field :poignet, placeholder:"Wrist" , class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :tour_bras %>
    <%= form.number_field :tour_bras, placeholder:"Arm circumference" , class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :long_robe %>
    <%= form.number_field :long_robe, placeholder:"Dress length" , class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :ventre %>
    <%= form.number_field :ventre, placeholder:"Belly" , class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :tour_cou %>
    <%= form.number_field :tour_cou, placeholder:"Neck size" , class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :frappe %>
    <%= form.number_field :frappe, placeholder:"Strike" , class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :ceinture %>
    <%= form.number_field :ceinture, placeholder:"Belt" , class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :bassin %>
    <%= form.number_field :bassin, placeholder:"Basin" , class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :genoux %>
    <%= form.number_field :genoux, placeholder:"Knees" , class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :cuisse %>
    <%= form.number_field :cuisse, placeholder:"Thigh" , class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :long_jupe %>
    <%= form.number_field :long_jupe, placeholder:"skirt length" , class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :long_pantalon %>
    <%= form.number_field :long_pantalon, placeholder:"Pant length" , class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :bas %>
    <%= form.number_field :bas, placeholder:"Bottom" , class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :image %>
    <%= image_tag(client.image.url) if client.image && client.image.url %>
    <%= form.file_field :image, class:'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class:'btn btn-primary'%>
  </div>
<% end %>
