<div class="card" >
  <div class="card-body">

    <h2 class='card-title d-flex justify-content-between mb-4'>
      <span> <b> <a class="text-decoration-none bg-color-none" href="<%=admin_users_path%>"> Users </a> </b> </span>  
      <%= link_to 'New User', new_admin_user_path, class: 'btn btn-primary text-light' %> 
    </h2>  
    
      <% @users.each do |user| %>
       <%= link_to admin_user_path(user), class: 'text-decoration-none text-primary' do %> 
        <div class="card project-card mb-4" >
          <div class="card-body">
            
            
            <p> 
              <%= user.email %> 
            </p>
            <p>
              <%= user.admin %>
            </p>
            <p>
              <%= user.orders.count %> Orders
            </p>
            
          </div>
        </div>
      <% end %>
    <% end %> 
    
      <%= paginate @users %>
        
  </div>
</div>
