<!DOCTYPE html>
<html >
  <head>
    <title>Couturex</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>

  </head>

  <body class="bg mb-5">

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <img class="my-0 mr-md-auto" src="<%= asset_path 'logo.png' %>" alt="" width="250" height="50" %>
      
      <% if user_signed_in? %>

        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-primary" href="<%=orders_path%>"> <strong >Orders</strong> </a>     
          <a class="p-2 text-primary" href="<%=clients_path%>"> <strong>Customers</strong> </a>
          <a class="p-2 text-primary" href="<%=models_path%>"> <strong>Models</strong> </a>
          <a class="p-2 text-primary" href="<%=categories_path%>"> <strong>Category</strong> </a>
          
        </nav>

        <% if current_user.admin?%>
          <%= link_to "Management page",admin_users_path, class:"font-weight-bold text-primary p-2" %>
        <% end %>

        <%= link_to "Profile", users_show_path, class: 'btn btn-outline-primary mr-2' %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'btn btn-primary text-light' %> 

      <% else %>
        <%= link_to "Guest User Login",users_guest_sign_in_path, method: :post, class:"font-weight-bold text-primary p-2"%>
        <%= link_to "Log in as Admin Guest",users_guest_admin_sign_in_path, method: :post, class:"font-weight-bold text-primary p-2"%>
        <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-outline-primary mr-2' %>
        <%= link_to "Sign in", new_user_session_path, class: 'btn btn-primary text-light' %>
      <% end %>
    </div>

    <div class="container mb-5 pt-5" >

      <% if notice %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>
          <h5 class="text-center" id="notice">
            <% flash.each do |key, value| %>
              <%= content_tag(:div, value, class: "#{key}") %>
            <% end %>
          </h5>
        </strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

      <%= yield %>
    </div>


    <footer class="bg-light mt-3 pt-2 fixed-bottom text-muted text-center text-small">
      <p class="mb-1">&copy; 2015-2022 Dive Into Code</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
      </ul>
    </footer>
  </body>
  
</html>
